*.md linguist-language=Markdown
.github/** linguist-generated=false
.github/** linguist-detectable=true
.github/** linguist-documentation=false
.github/**/*.yml linguist-language=YAML
.github/**/*.sh linguist-language=Bash
.github/**/*.py linguist-language=Python