* text=auto
*.md linguist-language=Markdown

.github/**/* linguist-generated=false linguist-documentation=false linguist-detectable=true

.github/**/*.yml linguist-language=YAML
.github/**/*.sh linguist-language=Bash
.github/**/*.py linguist-language=Python